<h2>Search Results: <%= params[:search] %></h2>
<p class="right-align">Found <%= pluralize @response.results.total, 'article' %></p>
<% if @response.results.any? %>
  <% @response.results.each do |r| %>
    <div class="result">
      <h3><%= r._source.title %></h3>
      <p><%= r._source.body %></p>
      <p class="note">Match score: <%= r._score %></h3>
    </div>
  <% end %>
<% end %>
<%= link_to 'New Search', search_articles_path, class: 'button secondary' %>
