<h2>Search Results: <%= params[:search] %></h2>
<p class="right-align">Found <%= pluralize @articles.count, 'article' %></p>
<% if @articles.any? %>
  <% @articles.each do |a| %>
    <div class="result">
      <h3><%= a.title %></h3>
      <p><%= a.body %></p>
    </div>
  <% end %>
<% end %>
<%= link_to 'New Search', search_articles_path, class: 'button secondary' %>
